/**
 * Buttons
 *
 * Common/Forms
 *
 * @since 1.0.0
 */
button {
  border: none;
  background: $gray-06;
  font-size: 0.8rem;
  color: $w !important;
  font-weight: 600;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 1px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  &:hover {
    color: $gray-06 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }
}
button.cta {
  display: block;
  margin: 1rem 0;
  padding: 1.6rem;
  font-size: 1rem;
}
