/**
 * Forms
 *
 * Common/Forms
 *
 * @since 1.0.0
 */

form {
  padding: 1rem;
  fieldset {
    padding: 1rem;
    border: none;
  }
  legend {
    padding: 0rem;
    text-transform: uppercase;
    color: $gray-08;
  }
  .helper {
    color: $gray-05;
  }
  .error {
  }
}

.inp {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  .textarea {
    position: absolute;
    top: 32px;
    left: 0;
    color: $gray-08;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: $brand-primary;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-weight: 500;
    border-bottom: 2px solid $gray-05;
    background: none;
    border-radius: 0;
    color: $gray-08;
    transition: all 0.15s ease;
    &:hover {
      background: rgba(34, 50, 84, 0.03);
    }
    &:not(:placeholder-shown) + span {
      color: $gray-08;
      transform: translateY(-26px) scale(0.75);
    }
    &:focus {
      background: none;
      outline: none;
    }
    &:focus + span {
      color: $brand-primary;
      transform: translateY(-26px) scale(0.75);
    }
    &:focus + span + .border {
      transform: scaleX(1);
    }
  }
}
