/**
 * Header
 *
 * Components / Header
 *
 * @since 1.0.0
 */
header {
  &__main {
    .logo {
      @include grid-child(1, 5);
    }
    .mainmenu {
      @include grid-child(6, 13);
      ul {
        width: 100%;
        list-style-type: none;
        li {
          display: inline;
        }
      }
      a {
        color: $gray-05;
        text-decoration: none;
        &:hover {
          color: $gray-07;
        }
      }
    }
  }
}
