/**
 * Grid
 *
 * Common/Grid
 *
 * CSS Grid like this: https://css-tricks.com/snippets/css/complete-guide-grid/
 * @since 1.0.0
 */
.basic-styles {
  background: $gray-02;
  border: 1px solid $gray-03;
}
.grid {
  @include display-grid();
  background: $gray-03;
  border: 1px solid yellow;
  margin-bottom: 16px;
}
