/**
 * Helpers
 *
 * Common / Helpers
 *
 * @since 1.0.0
 */

/**
 * Display Grid
 * Browser compatibility and defalut caps
 */
@mixin display-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, minmax(72px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

/**
 * Grid Child
 * Browser compatibility
 */
@mixin grid-child($col-start: 1, $col-end: 12) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  grid-column-start: $col-start;
  grid-column-end: $col-end;
}
