/**
 * Typography
 *
 * Common / Typography
 *
 * @since 1.0.0
 */

/**
 * Set up fluid text size
 * https://css-tricks.com/simplified-fluid-typography/
 */
html {
  font-size: 16px;
  color: $gray-txt;
}

@media screen and (min-width: map-get($grid-breakpoints, xs)) {
  html {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  html {
    font-size: 18px;
  }
}

/**
 * Set up Font Family and Plumber defaults
 * see https://jamonserrano.github.io/plumber-sass/
 */
$font-headline: "Roboto", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-monospace: "Roboto Mono", monospace;

$baseline-headline: 0.158203;
$baseline-paragraph: 0.158203;
$baseline-monospace: 0.158203;

@include plumber-set-defaults(
  $grid-height: 0.5rem,
  $baseline: $baseline-paragraph,
  $font-size: 2,
  $line-height: 3,
  $leading-top: 8,
  $leading-bottom: 4
);

/**
 * Define Typographic Scale
 * Use @Major Second (1.125)
 * See @ https://medium.com/sketch-app-sources/exploring-responsive-type-scales-cf1da541be54
 * 1rem = 16px in smallest views
 * 1rem = 18px in biggest views
 * Plumber Font size is 0.5rem for better implementation of pixel grid
 * Pixel grid 8x8 on smaller sizes
 * Pixel grid 9x9 on bigger sizes
 */
$scale-070: 4.06; //8px or 9px * 4.06 = 32.48px - 36.54px
$scale-060: 3.6; //8px or 9px * 3.6 = 28.8px - 32.4px
$scale-050: 3.2; //8px or 9px * 3.2 = 25.6px - 28.8px
$scale-040: 2.84; //8px or 9px * 2.84 = 22.72px - 25.56px
$scale-030: 2.5; //8px or 9px * 2.5 = 20px - 22.5px
$scale-020: 2.24; //8px or 9px * 2.24 = 17.92px - 20.16px
$scale-010: 2; //8px or 9px * 2 = 16px - 18px
$scale-005: 2; //8px or 9px * 2 = 12.8px - 14.4px

/**
 * All Heading settings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  letter-spacing: 0.2;
}

h1 {
  @include plumber(
    $font-size: $scale-070,
    $leading-top: 8,
    $leading-bottom: 4,
    $line-height: 5
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-070,
      $leading-top: 10,
      $leading-bottom: 4,
      $line-height: 5
    );
  }
}
h2 {
  @include plumber(
    $font-size: $scale-060,
    $leading-top: 6,
    $leading-bottom: 3,
    $line-height: 4
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-060,
      $leading-top: 8,
      $leading-bottom: 4,
      $line-height: 5
    );
  }
}
h3 {
  @include plumber(
    $font-size: $scale-050,
    $leading-top: 5,
    $leading-bottom: 2,
    $line-height: 4
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-050,
      $leading-top: 7,
      $leading-bottom: 2,
      $line-height: 4
    );
  }
}
h4 {
  @include plumber(
    $font-size: $scale-040,
    $leading-top: 5,
    $leading-bottom: 2,
    $line-height: 3
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-040,
      $leading-top: 6,
      $leading-bottom: 2,
      $line-height: 3
    );
  }
}
h5 {
  @include plumber(
    $font-size: $scale-030,
    $leading-top: 5,
    $leading-bottom: 2,
    $line-height: 3
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-030,
      $leading-top: 6,
      $leading-bottom: 2,
      $line-height: 4
    );
  }
}
h6 {
  text-transform: uppercase;
  letter-spacing: 0.5;
  @include plumber(
    $font-size: $scale-020,
    $leading-top: 5,
    $leading-bottom: 2,
    $line-height: 3
  );
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    @include plumber(
      $font-size: $scale-020,
      $leading-top: 5,
      $leading-bottom: 2,
      $line-height: 3
    );
  }
}

/**
 * Paragraphs
 */
p {
  @include plumber($leading-top: 0, $leading-bottom: 1);
  hyphens: auto;
}

caption {
  text-align: left;
}

b,
strong {
  font-weight: bolder;
}

/**
 * Links
 */
a {
  color: $brand-primary;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:active,
  &:hover {
    outline-width: 0;
  }
}

/**
 * Others
 */
blockquote {
  font-weight: 600;
  margin: 0;
  padding: 1rem;
  @include plumber(
    $font-size: $scale-040,
    $leading-top: 4,
    $leading-bottom: 2,
    $line-height: 3
  );
  small {
    display: block;
    color: $gray-05;
    @include plumber(
      $font-size: $scale-010,
      $leading-top: 1,
      $leading-bottom: 2,
      $line-height: 2
    );
  }
}
