/**
 * Typography
 *
 * Common / Typography
 *
 * @since 1.0.0
 */

html {
  font-size: 100%;
  color: $gray-txt;
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    font-size: 100%;
  }
}

/**
 * Fonts & Baselines
 */
$font-headline: -apple-system, sans-serif;
$font-paragraph: -apple-system, sans-serif;
$font-monospace: -apple-system, sans-serif;

$baseline-headline: 0.148;
$baseline-paragraph: 0.158203;
$baseline-monospace: 0.148;

/**
 * Plumber defaults
 */
@include plumber-set-defaults(
  $grid-height: 1rem,
  $baseline: $baseline-paragraph,
  $font-size: 1,
  $line-height: 2,
  $leading-top: 4,
  $leading-bottom: 2,
  $use-baseline-origin: true
);

/**
 * Headings
 * 
 * Type Scale: Major Second (1.250)
 * https://medium.com/sketch-app-sources/exploring-responsive-type-scales-cf1da541be54
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

.muted {
  color: lighten($gray-txt, 70%);
  a {
    color: lighten($gray-txt, 70%);
  }
}
.high-emphasize {
  color: $brand-primary;
}
.big {
  font-size: 130%;
}
.small {
  @include plumber($font-size: 0.875, $line-height: 1);
}

h1 {
  @include plumber($font-size: 3.052, $leading-top: 6, $leading-bottom: 3);
}
h2 {
  @include plumber($font-size: 2.44, $leading-top: 5, $leading-bottom: 3);
}
h3 {
  @include plumber($font-size: 1.953);
}
h4 {
  @include plumber($font-size: 1.563);
}
h5 {
  @include plumber($font-size: 1.25);
}
h6 {
  @include plumber($font-size: 1);
  text-transform: uppercase;
  letter-spacing: 0.5;
}

/**
 * Paragraphs
 */
p {
  @include plumber($leading-top: 0);
}

caption {
  text-align: left;
}

b,
strong {
  font-weight: bolder;
}

/**
 * Links
 */
a {
  color: $brand-primary;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:active,
  &:hover {
    outline-width: 0;
  }
}
